.LeftBar:hover {
  opacity: 10%;
}

.LeftSideBar {
  margin: 0;
  padding: 10px;
  width: 210px;
  background-color: #381e72;
  ;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-radius: 10px;
}

.LeftBarHead {
  color: white;
}

.LeftBar {
  /* border: solid white; */
  padding: 10px;
  text-decoration: none;
  color: white;
  border-bottom: solid #E8DEF8;
  margin-top: 10px;
  border-radius: 10px;
}

.RightSideBar {
  width: 210px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #381e72;
  padding: 10px;
  border-radius: 10px;
  margin-top: 3%;
}

#SearchBar {
  position: fixed;
  right: 0;

}

header {
  /* border: solid black; */
  display: flex;
  align-items: end;

}

#Headermsg {
  color: #381e72;
}

.body {
  background-color: #633b48;
}

footer {
  /* border: solid black; */
  bottom: 0;
  width: 100%;
  height: 100px;
  position: fixed;
  background-color: #381e72;
}

#AddPostModal {
 background-color: #FA3916;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
.MyModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  
}

.BottomButton {
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: #E8DEF8;
}

.BottomButton:hover {
  opacity: 80%;
}

.Btn-Imge {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.AddBtn {
  background-color: #E8DEF8;
  border-radius: 60px;
  border: solid black;
  border-width: 2px;
  position: relative;
}
#Submit, #Close{
  background-color: wheat;
}
.AddBtn:hover {
  opacity: 80%;
}
#Submit:hover, #Close:hover {
  opacity: 80%;

}

textarea{
  background-color: wheat;
}
textarea:focus{
  border: solid rgb(23, 154, 214);
  border-width: 5px;
}
input{
  background-color: wheat;
}
input:focus{
  border: solid rgb(23, 154, 214);
  border-width: 5px;

}
#MainContent {
    margin-left: 230px;  /* space for left sidebar */
  margin-right: 300px; /* space for right sidebar */
  padding: 0 20px;     /* horizontal padding only */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* top */
  align-items: stretch;        /* items full width */
  gap: 15px;
  min-height: 100vh;
  border: solid black;
}

#MainContent div{
  width: 80%;
  height: 50%;
  border-radius: 5px;
  margin-left: 10%;
  
}
.post-card {
  background-color: #381e72;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}
.post-card h3 {
  margin: 0 0 10px;
}
.post-card p {
  margin: 0;
}
.ImageIcon{
  width: 32px;
  height: 32px;
  background-color: #E8DEF8;
}
.ImageIcon:hover{
  opacity: 80%;
}
.MenuBtn{
  background-color: #E8DEF8;
  width: 50px;
  height: 50px;
}
/* .Postcard{
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
} */