.LeftBar:hover {
  opacity: 10%;
}
.logo{
  position: fixed;
}
.LeftSideBar {
  margin: 0;
  padding: 10px;
  width: 210px;
   background: linear-gradient(to bottom, #502aa1, #231938); 
  position: fixed;
  height: 100%;
  overflow: auto;
  border-radius: 20px;
}

.LeftBarHead {
  color: white;
}

.LeftBar {
  /* border: solid white; */
  padding: 10px;
  text-decoration: none;
  color: white;
  border-bottom: solid #E8DEF8;
  margin-top: 10px;
  border-radius: 10px;
  
}
main{
  margin-top: 3%;
}
.RightSideBar {
  width: 210px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
   background: linear-gradient(to bottom, #502aa1, #231938); 
  padding: 10px;
  border-radius: 20px;
  margin-top: 3%;
}

#SearchBar {
  position: fixed;
  right: 0;

}
#geek{
   font-weight: bold;
  background: linear-gradient(180deg, #fcfcfc, #626263);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
 
  display: flex;
  align-items: end;
  position: fixed;
  top: 0;
  z-index: 1000;

}

#Headermsg {
  
  font-weight: bold;
  background: linear-gradient(180deg, #530fe6, #28076e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.body {
  background-color: #633b48;
  color: white;
    background: linear-gradient(to bottom, #502A3B, #633b48); 

}

footer {
 
  bottom: 0;
  width: 100%;
  height: 100px;
  position: fixed;

  background: linear-gradient(to bottom, #502aa1, #231938); 

}

#AddPostModal {
 background-color: #FA3916;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
.MyModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  
}

.BottomButton {
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: #E8DEF8;
}

.BottomButton:hover {
  opacity: 80%;
}

.Btn-Imge {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.AddBtn {
  background-color: #E8DEF8;
  border-radius: 60px;
  border: solid black;
  border-width: 2px;
  position: relative;
}
#Submit, #Close{
  background-color: wheat;
}
.AddBtn:hover {
  opacity: 80%;
}
#Submit:hover, #Close:hover {
  opacity: 80%;

}

textarea{
  background-color: wheat;
}
textarea:focus{
  border: solid rgb(23, 154, 214);
  border-width: 5px;
}
input{
  background-color: wheat;
}
input:focus{
  border: solid rgb(23, 154, 214);
  border-width: 5px;

}
#MainContent {
     margin-left: 230px;  /* space for left sidebar */
  margin-right: 230px; /* space for right sidebar */
  padding: 20px;
  padding-bottom: 150px; /* extra space at the bottom for footer */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* align items to the top */
  align-items: center;
  gap: 15px;
  min-height: 100vh;
  width: 75%;
  top: 0;
  border-radius: 30px;

  
}

#MainContent div{
 
  height: 50%;
  border-radius: 5px;
  
  
}
.post-card {
  background: linear-gradient(to bottom, #502aa1, #231938); 
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 30px;

}
.post-card h3 {
  margin: 0 0 10px;
}
.post-card p {
  margin: 0;
}
.post-card:hover{
  opacity: 80%;
}
.ImageIcon{
  width: 32px;
  height: 32px;
  background-color: #E8DEF8;
}
.ImageIcon:hover{
  opacity: 80%;
}
.MenuBtn{
  background-color: #E8DEF8;
  width: 50px;
  height: 50px;
}
.my-hover-btn:hover {
  background-color: #5d1288; 
  transform: scale(1.05); 
}

/* .Postcard{
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
} */